<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">


        <style>
            .button {
            background-color: #007bff; /* Green */
            border: none;
            color: #fff;
            padding: 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            width: 100%;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            }
            .button {border-radius: 12px;}
        </style>   
    </head>

    <body class="bg-light">
        <div class="container-fluid bg-dark text-white mt-3 p-3 text-center">
            <p class="h1 text-center font-weight-light">Users Managment Portal</p>
        </div>
        
        <div class="container-fluid h-25">
            <div class="row">
                <div class="container mt-5 ">
                    <div class="container">
                        <div class="row">
                          <div class="col-sm">
                            <button class="button" type="button" onclick="window.location.href='/users/create'">Create User</button>
                          </div>
                          <div class="col-sm">
                          </div>
                          <div class="col-sm">
                            <button class="button" type="button" onclick="window.location.href='/users/list'">Users</button>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>