<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">

            <link rel="stylesheet" href="../stylesheets/style.css">
    </head>

    <body class="bg-light">
        <div class="container-fluid bg-dark text-white mt-3 p-3 text-center">
            <p class="h1 text-center font-weight-light">Users Managment Portal</p>
        </div>
        
        <div class="container-fluid h-25">
            <div class="row">
                <div class="container mt-5 ">
                    <div class="container">
                        <div class="row">
                          <div class="col-sm">
                            <button class="button" type="button" onclick="window.location.href='/users/create'">Create User</button>
                          </div>
                          <div class="col-sm">
                          </div>
                          <div class="col-sm">
                            <button class="button" type="button" onclick="window.location.href='/users/list'">Users</button>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>