USE [master]
GO
/****** Object:  Database [OfakimDB]    Script Date: 2/19/2019 9:40:42 AM ******/
CREATE DATABASE [OfakimDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OfakimDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\OfakimDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OfakimDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\OfakimDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OfakimDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OfakimDB]
GO
USE [OfakimDB]
GO
/****** Object:  User [ofakim]    Script Date: 2/19/2019 9:40:42 AM ******/
CREATE USER [ofakim] FOR LOGIN [ofakim] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/19/2019 9:40:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[FullName] [nchar](20) NULL,
	[Birthday] [nchar](20) NULL,
	[Email] [nchar](20) NULL,
	[Phone] [nchar](20) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Users] ([FullName], [Birthday], [Email], [Phone]) VALUES (N'David dsfds         ', N'11/15/1988          ', N'dudi938@gmail.com   ', N'054-215-1661        ')
INSERT [dbo].[Users] ([FullName], [Birthday], [Email], [Phone]) VALUES (N'David dsfds         ', N'11/15/1988          ', N'dudi938@gmail.com   ', N'054-215-1661        ')
USE [master]
GO
