<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script type="text/javascript" src="../../javascripts/Users/create.js"></script>
        <script type="text/javascript" src="../../javascripts/rest_api/rest.js"></script>
    </head>
    <body>
        <div class="container bg-dark text-white mt-3 p-3">
            <form class="createUserForm" action="/users/create" method="POST">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" name="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" value="dudi938@gmail.com">
                </div>
                <div class="form-group">
                    <label for="Birthday">Birthday</label>
                    <input type="date" name="Birthday" class="form-control" id="birthday">
                </div>
                <div class="form-group">
                    <label for="FullName">Full Name</label>
                    <input type="text"  name="FullName" class="form-control" id="fullName" placeholder="Moshe Cohen">
                </div>
                <div class="form-group">
                    <label for="Phone">Phone</label>
                    <input type="tel" name="Phone" class="form-control" id="fullName" placeholder="050-111-1111" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required value="054-215-1661">
                </div> 
                <button type="submit" class="submit btn btn-primary">Submit</button>
            </form>          
        </div>      
    </body>
</html>