<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <!-- jquery table -->
        <script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
        
        <link rel="stylesheet" href="../stylesheets/style.css">
        
        <script type="text/javascript" src="../../javascripts/Users/list.js"></script>
        <script type="text/javascript" src="../../javascripts/rest_api/rest.js"></script>
    </head>
    <body class ="bg-secondary">
        <div class="container-fluid bg-dark text-white mt-3 p-3 text-center">
                <p class="h1 text-center font-weight-light">Users List</p>
        </div>
        <div class="container  mt-5">
                <div class="row">
                  <div class="col-sm">
                    <button class="btn button m-3 btn-primary" type="button" onclick="window.location.href='/'">Home</button>
                  </div>
                  <div class="col-sm">
                  </div>
                  <div class="col-sm">
                    <button class="btn button m-3 btn-primary" type="button" onclick="window.location.href='/users/create'">Create User</button>
                  </div>
                </div>
            </div>
    </body>
</html>
